<h1>Getting Started with Ruby</h1>

<p>
  Welcome!
</p>


<ul class="nav pull-right">
  <li><a href="/customers">Klienci</a></li>
  <li><a href="/orders">Zamówienia</a></li>
  <li><a href="/addresses">Adresy</a></li>
</ul>

