<h1> Witaj w zadaniu 4</h1>

<p>
  Asocjacje - formularz - haml
</p>


<ul class="nav pull-right">
  <li><a href="/customers">Klienci</a></li>
  <li><a href="/orders">Zamówienia</a></li>
  <li><a href="/addresses">Adresy</a></li>
</ul>

s